{% extends 'myauth/index.html' %}

{% block content %}


    <!--<h1>这是管理员登录后看到的界面</h1>-->
    <h1>欢迎您，管理员</h1>
            <button type="submit" class="btn btn-danger"><a href="/showall/" target="_blank">所有船舶位置</a></button>
            <button type="submit" class="btn btn-danger"><a href="/search/" target="_blank">信息查询</a></button>
            <button type="submit" class="btn btn-danger"><a href="/input_shipinfo/" target="_blank">信息录入</a></button>
            <button type="submit" class="btn btn-danger"><a href="/sendmessage/" target="_blank">信息发送</a></button>
            <button type="submit" class="btn btn-danger"><a href="/logout/">退出</a></button>

{% endblock %}