<!-- 重点参数：getDataId，getPosition，getMarker，getInfoWindow，getListElement -->
<!-- 重点代码: markerList.render -->
<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 原始地址：//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/simple-data.html -->
    <base href="//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>简单数据渲染</title>
    <link rel="stylesheet" type="text/css" href="./common.css">
</head>

<body>
    <form action="" method="post">
            {% csrf_token %}
            <h2>查询 <span class="red"><strong>航船的位置</strong></span></h2>
            <label for="shipid1">船舶编号</label>
            <input type="text" id="shipid1" name="shipid" placeholder="请输入船舶编号">
            <label for="shipid2">船长编号</label>
            <input type="text" id="shipid2" name="capitalid" placeholder="请输入船长编号">


            <button type="submit">查询</button>
       </form>
    <div id="outer-box">
        <div id="container">
        </div>
        <div id="panel">
            <div id="intro">
                <h3>render(data)</h3>
            </div>
            <ul id="my-list"></ul>
        </div>
    </div>
    <script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.11&key=您申请的key值'></script>
    <!-- UI组件库 1.0 -->
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script type="text/javascript">
    //创建地图
    var map = new AMap.Map('container', {
        zoom: 9
    });

    AMapUI.loadUI(['misc/MarkerList'], function(MarkerList) {

        var markerList = new MarkerList({
            //关联的map对象
            map: map,

            //列表的dom容器的id
            listContainer: 'my-list',

            //选中状态（通过点击列表或者marker）时在Marker和列表节点上添加的class，可以借此编写css控制选中时的展示效果
            selectedClassNames: 'selected',

            //返回数据项的Id
            getDataId: function(dataItem, index) {
                //index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
                return dataItem.id;
            },
            //返回数据项的位置信息，需要是AMap.LngLat实例，或者是经纬度数组，比如[116.789806, 39.904989]
            getPosition: function(dataItem) {
                return dataItem.position;
            },
            //返回数据项对应的Marker
            getMarker: function(dataItem, context, recycledMarker) {

                //marker的标注内容
                var content = dataItem.markerLabel;

                var label = {
                    offset: new AMap.Pixel(16, 18), //修改label相对于marker的位置
                    content: content
                };

                //存在可回收利用的marker
                if (recycledMarker) {
                    //直接更新内容返回
                    recycledMarker.setLabel(label);
                    return recycledMarker;
                }

                //返回一个新的Marker
                return new AMap.Marker({
                    label: label
                });
            },
            //返回数据项对应的infoWindow
            getInfoWindow: function(dataItem, context, recycledInfoWindow) {

                var tpl = '<p><%- dataItem.id %>：<%- dataItem.infoWinContent %><p>';

                //MarkerList.utils.template支持underscore语法的模板
                var content = MarkerList.utils.template(tpl, {
                    dataItem: dataItem,
                    dataIndex: context.index
                });

                if (recycledInfoWindow) {
                    //存在可回收利用的infoWindow, 直接更新内容返回
                    recycledInfoWindow.setContent(content);
                    return recycledInfoWindow;
                }

                //返回一个新的InfoWindow
                return new AMap.InfoWindow({
                    offset: new AMap.Pixel(0, -23),
                    content: content
                });
            },
            //返回数据项对应的列表节点
            getListElement: function(dataItem, context, recycledListElement) {

                var tpl = '<p><%- dataItem.id %>：<%- dataItem.listDesc %><p>';

                var content = MarkerList.utils.template(tpl, {
                    dataItem: dataItem,
                    dataIndex: context.index
                });

                if (recycledListElement) {
                    //存在可回收利用的listElement, 直接更新内容返回
                    recycledListElement.innerHTML = content;
                    return recycledListElement;
                }

                //返回一段html，MarkerList将利用此html构建一个新的dom节点
                return '<li>' + content + '</li>';
            }

        });

        //监听选中改变
        markerList.on('selectedChanged', function(event, info) {
            //console.log(event, info);
        });

        //监听Marker和ListElement上的点击
        markerList.on('markerClick listElementClick', function(event, record) {
            //console.log(event, record);
        });

        //构建一个数据项数组，数据项本身没有格式要求，但需要支持getDataId和getPosition
        var data = [{
            id: 'A',
            position: [119.221069, 34.612831],
            markerLabel: 'X_A',
            infoWinContent: 'Hello! A',
            listDesc: '店铺 A'
        }, {
            id: 'B',
            position: [116.405285, 39.904989],
            markerLabel: 'X_B',
            infoWinContent: 'Hello! B',
            listDesc: '店铺 B'
        }, {
            id: 'C',
            position: [116.789806, 39.904989],
            markerLabel: 'X_C',
            infoWinContent: 'Hello! C',
            listDesc: '店铺 C'
        }];

        //展示该数据
        markerList.render(data);
    });
    </script>
</body>

</html>