{% extends 'myauth/index.html' %}

{% block content %}
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <style>
p{

  margin-left:10px;
  margin-top:10px;
}
</style>
    <!--如果是后台管理人员功能如下-->
    {% if right %}
        <!--
        <div class="register span6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>欢迎您， <span class="red"><strong>后台管理员</strong></span></h2>
                        <label for="shipid">shipid</label>
                        <input type="text" id="shipid" name="username" placeholder="输入shipid">

                        <button type="submit"><a href="/search/">信息查询</a></button>
                    </form>
        </div>

            <button type="submit"><a href="/search/">信息查询</a></button>
            <button type="submit"><a href="/register/">信息录入</a></button>
            <button type="submit"><a href="/sendmessage/">信息发送</a></button>
            -->
            <button type="submit"><a href="/search/">信息查询</a></button>
            <button type="submit"><a href="/register/">信息录入</a></button>
            <button type="submit"><a href="/sendmessage/">信息发送</a></button>
            <button type="submit"><a href="/logout/">退出</a></button>
    <!--如果是船主功能如下-->
    {% else %}
            <button type="submit"><a href="/search/">信息查询</a></button>
            <button type="submit"><a href="/showall/">信息显示</a></button>
                    <button type="submit"><a href="/logout/">退出</a></button>


    {% endif %}

{% endblock %}